.sneaker {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.sneaker__title {
}
.sneaker__description {
}
.sneaker__content {
}
.sneaker__left {
}
.sneaker__right {
}
.sneaker__text-content {
}