* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anonymous Pro" sans-serif;
}
@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}
h4 {
  color: #a1a6b4;
}
a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  margin: 30px auto 0;
  border-bottom: 1px solid #a1a6b4;
  padding: 0 20px;
}
.logo {
  width: 212px;
  height: 63px;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  align-items: center;
  margin: 0 auto 16px;
}
li {
  display: inline-flex;
  align-items: center;
  color: #000;
  font-family: "Anonymous Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.ul {
  display: flex;
  align-items: center;
  height: 26px;
  gap: 20px;
}
main {
  padding: 20px;
  background-color: #e6e8ec66;
  
}
.all {
  max-width: 1160px;
  margin: 0 auto;
}
.subtitle {
  margin-bottom: 24px;
  font-family: "Anonymous Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.card {
  display: inline-block;
  row-gap: 24px;
  column-gap: 24px;
  border-radius: 12px 12px 12px 12px;
  align-content: center;
  width: 370px;
  justify-content: center;
  background-color: white;
  font-family: "Anonymous Pro";
}
.container__words {
  padding: 15px;
}
.container__title {
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  background: white;
  row-gap: 24px;
  column-gap: 24px;
}
.container__text {
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  background: white;
  display: block;
  font-size: 20px;
  gap: 24px;
}
.footer {
  background-color: #121723;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 32px 0;
  align-items: center;
  border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}
.footer__nav {
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_pict {
  height: 23px;
}
.footer__elements {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.down {
    color:#fff;
}
.underline {
    /* margin: 0 auto; */
    text-align: center;
    padding: 18px 0;
}
@media screen and (max-width: 530px) {
    .nav, .footer__nav{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .subtitle{
        font-size: 32px;
    }

}

